*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.dashboard{
    height: 100vh; 
    width: 25%;
    background: whitesmoke;
}
#map { 
    height: 100vh; 
    width: 75%;
}
main{
    display: flex;
}
ul{
    overflow: auto;
}